
  h1{
    color:rgb(20, 51, 90);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-family:Times;
    font-weight: bold;
    background-color: rgb(255, 253, 230);
    }

body{
    background-image: linear-gradient(white 80%, rgb(236, 213, 149), rgb(168, 162, 75));
}
#picture{
    margin-top: 70px;
    height: 250px;
    width: 250px;

}
#linkedin{
    
    font-size: 24px;
    font-family:Times;
    
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
